* {
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body, html {
    background-color: tan;
    font-size: 1.2em;
    text-align: center;
    padding: 100px;
}

span {
    padding: 5px;
    border-radius: 2px 1px solid black;
    font-size: 2.5em;
}

p {
    padding: 40px;
}

#start {
    background-color: darkgreen;
}

#stop {
    background-color: red;
}

#reset {
    background-color: rgba(169, 169, 169, 0.904);
}

button {
    color: rgba(255, 255, 255, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    border-radius: 5px;
    padding: 11px;
    margin: 3px;
    width: 120px;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}