* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 18px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
                
}

.jump {
    animation: jump 500ms ease-out;
}

.cloud {
    position: absolute;
    width: 500px;
    animation: cloud-animation 18s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
       bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
     bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes cloud-animation {
    from {
        right: -500px;
    }
    to {
        right: 100%;
    }
}

.home img {
    position: absolute;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(230, 227, 227, 0.89);
    box-sizing: border-box;
}
a:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
}